<ion-header class="pt-initial">
  <ion-toolbar translucent class="ta-left">
    <ion-title class="tt-none">Cards by types</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-align-items-center">
    <ion-row>
      <ion-col size-lg="4" size-md="4" size-sm="6" *ngFor="let type of types">
        <ion-card>
          <div class="d-flex jc-center mt-10">
            <img
              class="w-160 b-radius-50 box-s-img"
              [alt]="type.name"
              [src]="type.img"
            />
          </div>

          <div class="d-flex jc-center mt-10">
            <ion-text color="primary">
              <h3>
                {{ type.name }}
              </h3>
            </ion-text>
          </div>

          <div class="d-flex jc-center mt-10 mb-10">
            <ion-button shape="round" (click)="goToType(type.name)">
              View More <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
