ion-grid {
  width: 50%;
  min-height: 100vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

ion-card {
  border: 1px solid var(--ion-color-primary);
  --background: #ffffff;
  box-shadow: none;
  border-radius: 12px;
}

.d-flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.w-160 {
  width: 160px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.box-s-img {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.b-radius-50 {
  border-radius: 50%;
}

ion-button {
  --color: var(--ion-color-light);

  --box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

@media screen and (max-width: 992px) {
  ion-grid {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  ion-grid {
    width: 100%;
  }
}
