/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

:root {
  --Colorless: rgb(156, 141, 120);
  --Darkness: rgb(41, 90, 106);
  --Dragon: rgb(245, 169, 19);
  --Fairy: rgb(254, 168, 213);
  --Fighting: rgb(190, 75, 30);
  --Fire: rgb(251, 3, 1);
  --Grass: rgb(6, 165, 2);
  --Lightning: rgb(255, 255, 1);
  --Metal: rgb(192, 192, 192);
  --Psychic: rgb(183, 0, 185);
  --Water: rgb(78, 81, 245);
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #8685ef;
    --ion-color-primary-rgb: 134, 133, 239;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #7675d2;
    --ion-color-primary-tint: #9291f1;

    --ion-color-secondary: #9e9dff;
    --ion-color-secondary-rgb: 158, 157, 255;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #8b8ae0;
    --ion-color-secondary-tint: #a8a7ff;

    --ion-color-tertiary: #c6c0f8;
    --ion-color-tertiary-rgb: 198, 192, 248;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #aea9da;
    --ion-color-tertiary-tint: #ccc6f9;

    --ion-color-success: #00c896;
    --ion-color-success-rgb: 0, 200, 150;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #00b084;
    --ion-color-success-tint: #1acea1;

    --ion-color-warning: #ffa184;
    --ion-color-warning-rgb: 255, 161, 132;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e08e74;
    --ion-color-warning-tint: #ffaa90;

    --ion-color-danger: #b02b36;
    --ion-color-danger-rgb: 176, 43, 54;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #9b2630;
    --ion-color-danger-tint: #b8404a;

    --ion-color-medium: #aca9bb;
    --ion-color-medium-rgb: 172, 169, 187;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #9795a5;
    --ion-color-medium-tint: #b4b2c2;

    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #ffffff;
    --ion-background-color-rgb: 255, 255, 255;

    --ion-text-color: #8685ef;
    --ion-text-color-rgb: 134, 133, 239;

    --ion-color-step-50: #f9f9fe;
    --ion-color-step-100: #f3f3fd;
    --ion-color-step-150: #ededfd;
    --ion-color-step-200: #e7e7fc;
    --ion-color-step-250: #e1e1fb;
    --ion-color-step-300: #dbdafa;
    --ion-color-step-350: #d5d4f9;
    --ion-color-step-400: #cfcef9;
    --ion-color-step-450: #c9c8f8;
    --ion-color-step-500: #c3c2f7;
    --ion-color-step-550: #bcbcf6;
    --ion-color-step-600: #b6b6f5;
    --ion-color-step-650: #b0b0f5;
    --ion-color-step-700: #aaaaf4;
    --ion-color-step-750: #a4a4f3;
    --ion-color-step-800: #9e9df2;
    --ion-color-step-850: #9897f1;
    --ion-color-step-900: #9291f1;
    --ion-color-step-950: #8c8bf0;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #1c1c1c;
    --ion-item-background-activated: #313131;
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #ffffff;
    --ion-background-color-rgb: 255, 255, 255;

    --ion-text-color: #8685ef;
    --ion-text-color-rgb: 134, 133, 239;

    --ion-color-step-50: #f9f9fe;
    --ion-color-step-100: #f3f3fd;
    --ion-color-step-150: #ededfd;
    --ion-color-step-200: #e7e7fc;
    --ion-color-step-250: #e1e1fb;
    --ion-color-step-300: #dbdafa;
    --ion-color-step-350: #d5d4f9;
    --ion-color-step-400: #cfcef9;
    --ion-color-step-450: #c9c8f8;
    --ion-color-step-500: #c3c2f7;
    --ion-color-step-550: #bcbcf6;
    --ion-color-step-600: #b6b6f5;
    --ion-color-step-650: #b0b0f5;
    --ion-color-step-700: #aaaaf4;
    --ion-color-step-750: #a4a4f3;
    --ion-color-step-800: #9e9df2;
    --ion-color-step-850: #9897f1;
    --ion-color-step-900: #9291f1;
    --ion-color-step-950: #8c8bf0;

    --ion-item-background: #8685ef;
  }
}
@font-face {
  font-family: 'Josefin Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
}

ion-title.title-large {
  --color: #8685ef;
}

ion-toolbar {
  --ion-toolbar-background: transparent !important;
  --ion-toolbar-text-color: var(--ion-color-secondary) !important;
  text-align: center;
}

ion-content,
ion-header,
ion-title {
  font-family: 'Josefin Sans', sans-serif !important;
}

ion-title {
  font-size: 1.3rem !important;
  text-transform: uppercase;
  font-weight: 700;
}

ion-item {
  background: var(--ion-color-tertiary) !important;
}

.tt-none {
  text-transform: none;
}

.ta-left {
  text-align: left !important;
}
